div.logo {
    width: 100%;
    background-color: #0a5d8e;
    padding: 20px;
    font-size: 16pt;
    font-family: cursive;
    color: white;
}

timeline {
    width: 50%;
    display: inline-block;
}

.timeline:before {
    left: 100%;
}

timeline-badge {
    left: 100%;
}

timeline-panel {
    max-width: calc(100% - 45px);
    width: initial;
    float: right;
    margin-right: 50px;
}

timeline-footer {
    background-color: aliceblue;
}

@media screen and (max-width: 480px) {
    timeline {
        width: initial;
    }
    timeline > ul.timeline:before {
        background-color: white;
    }
    timeline-panel {
        max-width: initial;
        width: 90%;
        margin-right: 0px;
    }
    timeline-badge {
        left: -8%;
        float: none;
        margin-left: 0;
    }
}