<timeline-heading>
    <h4>{{event.headline}}</h4>
    <p ng-if="event.when">
        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
    </p>
    <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml"></p>
</timeline-heading>
<div ng-if="event.user">
    <img ng-src="userImage/?user={{event.user}}" class="avatar"/>
</div>
<div ng-show="event.images">
    <img ng-repeat="img in event.images" img-fix-orientation="image/?imageRelativePath={{img}}" ng-src="image/?imageRelativePath={{img}}" class="picture"/>
</div>
<p ng-show="event.date">
    <small>Date: <b>{{event.date | date}}</b></small>
</p>
<div style="margin: 10px">
    <p>{{event.text}}</p>
</div>
<p ng-show="event.start">
    <small>Start: <b>{{event.start | date}}</b></small>
</p>
<p ng-show="event.end">
    <small>End: <b>{{event.end | date}}</b></small>
</p>
<p ng-show="event.measure">
    <small>Measure: <b>{{event.measure}}</b></small>
</p>
<p ng-show="event.severity">
    <small>Severity: <span uib-rating ng-model="event.severity" max="10" read-only="true"></span></small>
</p>
<p ng-show="event.selectedItems">
    <span ng-repeat="si in event.selectedItems" class="label label-default">{{si}}</span>
</p>
<div ng-show="event.events">
    <h5>подпункты:</h5>
    <ul>
        <li ng-repeat="se in event.events">
            {{se.type}}
            <p ng-show="se.headline">
            <h4>{{se.headline}}</h4>
            </p>
            <p ng-show="se.date">
                <small>Date: <b>{{se.date | date }}</b></small>
            </p>
            <p ng-show="se.text">
                {{se.text}}
            </p>
            <p ng-show="se.severity">
                <small>Severity:
                    <span uib-rating ng-model="se.severity" max="10"
                          read-only="true"></span></small>
            </p>
        </li>
    </ul>
</div>
<div>
    <button class="btn btn-default btn-xs" ng-click="navigateModifyEvent(event)">Modify
    </button>
    <button class="btn btn-danger btn-xs" ng-click="deleteEvent(event)">Delete</button>
</div>