<timeline-heading style="display: block; background: #112b46; padding: 5px;">
    <img ng-if="event.user" ng-src="userImage/?user={{event.user}}" class="avatar"/>
    <small ng-if="event.date" style="color: white"><b>{{event.date | date}}</b></small>
</timeline-heading>


<div style="background: white; padding: 5px;">
    <div ng-show="event.images">
        <img ng-repeat="img in event.images" img-fix-orientation="image/?imageRelativePath={{img}}" ng-src="image/?imageRelativePath={{img}}" style="width: 100%; display: inline-block;"/>
    </div>
    <div ng-show="event.text" style="margin: 10px">
        <p>{{event.text}}</p>
    </div>
    <p ng-show="event.measure">
        <small>Measure: <b>{{event.measure}}</b></small>
    </p>
    <p ng-show="event.severity">
        <small>Severity:
            <span uib-rating ng-model="event.severity" max="10" read-only="true"></span></small>
    </p>
    <div ng-show="event.selectedItems">
        <h4>Категории</h4>
        <p>
            <span ng-repeat="si in event.selectedItems" class="label label-default">{{si}}</span>
        </p>
    </div>
    <div ng-show="event.events">
        <ul style="list-style: none">
            <li ng-repeat="se in event.events">
                <div ng-show="se.type == 'SPORT_PUSHUPS'">
                    <p style="">отжимания: <span style="color: red">{{se.measure}}</span></p>
                </div>
                <div ng-show="se.type == 'SPORT_PULLUPS'">
                    <p style="">подтягивания: <span style="color: red">{{se.measure}}</span></p>
                </div>
                <div ng-show="se.type == 'SPORT_RUN'">
                    <p style="">бег: <span style="color: red">{{se.measure}}</span> км</p>
                </div>
                <div ng-show="se.type == 'SPORT_JYM'">
                    <p>Качалочка<span ng-show="se.severity" uib-rating ng-model="se.severity" max="10" read-only="true"></span></p>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-default btn-xs" ng-click="navigateModifyEvent(event)">Modify
        </button>
        <button class="btn btn-danger btn-xs" ng-click="deleteEvent(event)">Delete</button>
    </div>
</div>